html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #293651;
}

.container1 {
  padding: 24px 50px 0px 50px;
  text-align: center;
}
@media (min-width: 960px) {
  .container1 {
    padding: 23px 150px 0px 150px;
    text-align: left;
  }
}

.text-ola {
  font-size: 21px;
  font-weight: 200;
  margin: 0px;
  color: #00a78e;
}
@media (min-width: 960px) {
  .text-ola {
    font-size: 26px;
    margin-block-end: 21.58px;
    margin-block-start: 21.58px;
  }
}

.text-nome {
  font-size: 24px;
  margin: 15px;
}
@media (min-width: 960px) {
  .text-nome {
    font-size: 35px;
    margin: 0px;
    margin-block-end: 23.45px;
    margin-block-start: 23.45px;
  }
}

.text-profiss {
  font-size: 15px;
  font-weight: 200;
  margin: 0px 0px 12px 0px;
}
@media (min-width: 960px) {
  .text-profiss {
    font-size: 25px;
    margin-block-end: 25px;
    margin-block-start: 25px;
  }
}

.p1 {
  color: #a1a6a9;
  font-size: 12px;
  text-align: justify;
}
@media (min-width: 960px) {
  .p1 {
    font-size: 19.9px;
    margin-block-end: 19.9px;
    margin-block-start: 19.9px;
  }
}

.botao {
  width: 150px;
  height: 39px;
  margin: 9px;
  border: none;
  background-color: #00a78e;
  color: aliceblue;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
}
@media (min-width: 960px) {
  .botao {
    width: 250px;
    height: 49px;
    padding: 0px;
    margin: 3px 0px;
    font-size: 16px;
  }
}

.img-enzo1 {
  text-align: center;
  height: 300px;
  margin: 40px 0px;
}
@media (min-width: 960px) {
  .img-enzo1 {
    height: 594px;
  }
}

.container2 {
  padding: 40px 50px 40px 50px;
  background-color: #f8f8f8;
}
@media (min-width: 960px) {
  .container2 {
    padding: 50px 150px 50px 150px;
  }
}

.texto-sobre-enzo {
  text-align: justify;
  font-size: 12px;
}
@media (min-width: 960px) {
  .texto-sobre-enzo {
    font-size: 22px;
  }
}

.text-s-h-p {
  font-size: 21px;
  font-weight: 200;
  color: #00a78e;
  margin-bottom: 15px;
}
@media (min-width: 960px) {
  .text-s-h-p {
    font-size: 26px;
  }
}

.sub-text {
  font-size: 15px;
  margin-bottom: 12px;
}
@media (min-width: 960px) {
  .sub-text {
    font-size: 30px;
  }
}

.container3 {
  padding: 40px 50px 40px 50px;
  background-color: #f8f8f89e;
}
@media (min-width: 960px) {
  .container3 {
    padding: 23px 150px 50px 150px;
  }
}

.p2 {
  display: inline-block;
  font-size: 12px;
  margin: 12px 0px 9px 0px;
}
@media (min-width: 960px) {
  .p2 {
    font-size: 20px;
  }
}

.p-porcentagem {
  float: right;
  font-size: 12px;
  margin: 12px 0px 9px 0px;
}
@media (min-width: 960px) {
  .p-porcentagem {
    font-size: 20px;
  }
}

.medir-habilidade {
  width: 100%;
}

progress {
  border: 0;
  width: 500px;
  height: 15px;
}

progress::-webkit-progress-value {
  background: #00a78e;
}

.container4 {
  height: fit-content;
  padding: 40px 50px 40px 50px;
}
@media (min-width: 960px) {
  .container4 {
    padding: 23px 150px 50px 150px;
  }
}

.icon-projetos {
  float: left;
  height: 45px;
  margin: 30px;
  margin-bottom: 0px;
}
@media (min-width: 960px) {
  .icon-projetos {
    height: 90px;
    margin: 30px;
  }
}

.titulo-projetos {
  padding: 30px;
  font-size: 20px;
  padding-bottom: 0px;
}
@media (min-width: 960px) {
  .titulo-projetos {
    padding: 55px;
    font-size: 30px;
  }
}

.p-projetos {
  padding: 15px 30px 30px 30px;
  text-align: justify;
  font-size: 12px;
}
@media (min-width: 960px) {
  .p-projetos {
    padding: 30px 50px 50px 40px;
    font-size: 28px;
  }
}

.coluna1 {
  margin-top: 15px;
  height: fit-content;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 5px #00a78e;
}
@media (min-width: 960px) {
  .coluna1 {
    display: inline-block;
    width: 30%;
  }
}

.coluna2 {
  margin-top: 40px;
  height: fit-content;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 5px #00a78e;
}
@media (min-width: 960px) {
  .coluna2 {
    display: inline-block;
    width: 30%;
    margin: 66px;
  }
}

.coluna3 {
  margin-top: 50px;
  height: fit-content;
  background-color: #f8f8f8;
  box-shadow: 10px 10px 5px #00a78e;
}
@media (min-width: 960px) {
  .coluna3 {
    display: inline-block;
    width: 30%;
  }
}

footer {
  position: relative;
  bottom: 0;
  background-color: #f8f8f8;
  height: fit-content;
  text-align: center;
  padding: 40px 50px 40px 50px;
}
@media (min-width: 960px) {
  footer {
    position: absolute;
    bottom: auto;
    width: 100%;
    padding: 115px 0px 120px;
  }
}

img:hover {
  background-color: #00a78e;
  border-radius: 50px;
  border: 10px;
}

.texto-footger {
  letter-spacing: 5px;
  margin-bottom: 9px;
}
.icon {
  height: 35px;
}
@media (min-width: 960px) {
  .icon {
    height: 58px;
  }
}

@media (min-width: 960px) {
  .texto-footger {
    font-size: 35px;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  .email-footger {
    letter-spacing: 5px;
    font-size: 45px;
    font-weight: bold;
  }
}

.texto-freelancer {
  font-family: open sans, sans-serif;
  font-size: 18px;
  margin-bottom: 18px;
  letter-spacing: 2px;
}
@media (min-width: 960px) {
  .texto-freelancer {
    margin-bottom: 60px;
    font-size: 22px;
  }
}
